{% extends '_partials/base.html' %}

{% load static %}

{% block content %}

<br>
<div class="ui middle aligned center aligned grid">
    <div class="seven wide column">
        <img src={% static '/img/favicon.png' %} class="ui centered medium image"><br><br>
        <div class="content" style="color:black;">
            <h1>Zahtev za reset lozinke</h1>
        </div>
        <br><br>
        <form class="ui large form" method="POST" action={% url 'request_password_reset_form' %}>
            {% csrf_token %}
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="text" required name="email" value="{{data.email}}" placeholder="Unestite UNS email adresu vašeg naloga">
              </div>
            </div>
            <button type="submit" class="ui fluid large green submit button">Pošalji zahtev</button>
          </div>
        </form>
    </div>
</div>
<h3></h3>

{% endblock %}