{% extends '_partials/base.html' %}

{% load static %}

{% block content %}

<br>
<div class="ui middle aligned center aligned grid">
    <div class="seven wide column">
        <img src={% static '/img/favicon.png' %} class="ui centered medium image"><br><br>
        <div class="content" style="color:black;">
            <h1>Unesite novu lozinku</h1>
        </div>
        <br><br>
        <form class="ui large form" method="POST" action={% url 'reset_password' uidb64=uid token=tkn %}>
            {% csrf_token %}
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Nova lozinka">
              </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password2" placeholder="Ponovite lozinku">
                </div>
            </div>
            <button type="submit" class="ui fluid large green submit button">Pošalji zahtev</button>
          </div>
        </form>
    </div>
</div>
<h3></h3>

{% endblock %}