{% extends '_partials/base.html' %}

{% load static %}

{% block content %}

<br>
<div class="ui middle aligned center aligned grid">
    <div class="seven wide column">
        <img src={% static '/img/favicon.png' %} class="ui centered medium image"><br><br>
        <div class="content" style="color:black;">
            <h1>Vaš link za aktivaciju je istekao.</h1>
        </div>
        <br><br>
        <a href={% url 'request_verif_email' uidb64=uidb64 %}><div class="ui green button">Ponovo pošalji email</div></a>
    </div>
</div>
<h3></h3>

{% endblock %}